<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480405326039-9k9852tq8g858migdh4vdrfhqtndjm31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480405326039-9k9852tq8g858migdh4vdrfhqtndjm31</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ZByvfOqi06OnDOHWNGQ8OcKcdXLggKw</string>
	<key>GCM_SENDER_ID</key>
	<string>480405326039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messageMe</string>
	<key>PROJECT_ID</key>
	<string>message-me-416f6</string>
	<key>STORAGE_BUCKET</key>
	<string>message-me-416f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480405326039:ios:d61fe8fce91eaa91ab0892</string>
</dict>
</plist>